body{
   /* Set line spacing */
   line-height: 2;
}


header, nav{
    /* Set padding and margin */
    padding: 10px 20px 10px 20px;
    margin: 5px 10px 5px 10px;
}
nav ul li{
    /* Set display, margin, padding, font-size, background-color */
    display: inline;
    padding: 20px;
    font-size: 24px;
    background-color: lavender;
}

nav a{
    /* Set text decoration*/
    text-decoration: none;
}

a:visited{
    /* Set color */
    color: black;
}

nav a.current{
    /* Set text decoration, transformation, and underline properties */
}


h1{
   /*Set font and font size*/
   font-family: Merriweather, Anton, "Times New Roman";
   font-size: 48px;

}

h2{
    /*Set font, font size, and alignment*/
    font-family: Merriweather, Anton, "Times New Roman"
    
}

h3{
    /*Set font size*/

}

h1, h2, h3{
    /*Set margin */

}
.grid{
    /*Set width, margin, border properties, background color, and grid properties */
    display: grid;
    grid-template-columns: repeat(3, 30%);
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    background-color: lavender;
    grid-gap: 10px;
    border-radius: 20px;
}

.grid div{
    /* Set border properties, padding, and background color */
    background-color: azure;
    border: 5px solid black;
    border-radius: 20px;
}


.grid img{
    /* Set width, margin, and display */
    display: block;
    margin: 0 auto;
    width: 90%;
}


.grid div:nth-child(3n+1)  {
    /* Set box shadow */
    }

.grid div:nth-child(3n)  {
    /* Set box shadow */ 
}

.grid div:nth-child(3n+2)  {
     /* Set box shadow */
}
    

p + p {
     /* Set indentation */
  }
  
p{
     /* Set margin */
}


.grid ul li{
    /* Set margin, line-spacing, list styling  */
}
